<style type="text/css">
 .store-table-ban {
  width: 100%;
  height: 80px;
  background-color: white;
}
.store-table {
  text-align: center;
}
 .storename {
  padding-top: 15px;
  font-size: 16px;
  font-weight: bold;
}
 .table-code {
  font-size: 13px;
  color: #999;
  margin-top: 8px;
}

</style>

<div class="has-order">
   <div class="store-table-ban">
      <div class="store-table">
        <p class="storename">范范的小店</p>
        <p class="table-code">A012</p>
      </div>
    </div>

</div>
